@import '../../../assets/_vars.scss';

:host ::ng-deep {
  .win-container {
    height: calc(100vh - 222px);
    h1 {
      font-size: $large-font;
    }
  }
  .p-button-label {
    font-size: $large-font2;
  }
  @media(max-width: $large-mobile) {
    .p-button-label {
      font-size: $mid-font;
    }
    .win-container {
      h1 {
        font-size: $large-font2;
      }
    }
  }
  @media(max-width: $small-mobile) {
    .p-button-label {
      font-size: $small-font;
    }
    .win-container {
      h1 {
        font-size: $mid-font;
      }
    }
  }
}

